package home

import (
    "github.com/luytbq/ksjwf/view/layout"
    "github.com/luytbq/ksjwf/types"
)

templ Index(authenticatedUser types.AuthenticatedUser) {
    @layout.App(types.LayoutProps{ShowNavigation: true}, authenticatedUser) {
        <h1 class="text-xl">Home index page</h1>
    }
}